<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joephone.codebox">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_ten"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".IndexActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- android:theme="@style/AppTheme.NoActionBar"-->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".ScrollIndex"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".ListIndex"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".RecyclerIndex"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".VPagerIndex"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".SlidingIndex"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".PicIndex"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".OtherIndex"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".ClassicIndex"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>

        <!-- scroll -->
        <activity
            android:name=".act.scroll.act.PullToZoomAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.scroll.act.MeiTuanMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>

        <activity
            android:name=".act.scroll.act.TopFloatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.scroll.act.MapScrollAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.scroll.scrollVPFloatLayout.act.ScrollVPFloatLayoutAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>

        <!-- end scroll -->


        <!-- list -->
        <activity
            android:name=".act.list.act.ListEditorAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.list.act.TimeLineAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.list.act.DropBackAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.list.act.PinnedSectionListAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.list.act.NahuanjinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.list.act.ListHeaderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.list.act.RecycleLoadMoreAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <!-- end list -->

        <!--  recycle -->
        <activity
            android:name=".act.recycle.act.XiaoMIAct"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!-- end Recycle -->

        <!--  pic -->
        <activity
            android:name=".act.pic.dragimage.act.DragImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".act.pic.gallaryswitcher.act.GallarySwitcherAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.pic.gallary3d.act.Gallery3dAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.pic.gallary3d.act.ViewPagerTestAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.pic.gallary3d.act.GalleryFlowAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.pic.inovex.act.ViewPagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>

        <!-- end pic -->

        <!-- sliding -->
        <activity
            android:name=".act.sliding.act.SlidingUpPanelAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <!-- end sliding -->

        <!-- sliding -->
        <activity
            android:name=".act.appstart.act.MyLauncherGuideAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.appstart.act.SuccessLaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.appstart.act.AppStartSplashAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.appstart.act.viewPage.ViewPagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.appstart.act.ViewFlipperAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.appstart.act.scrollView.ScollerViewAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>

        <!-- end sliding -->




        <!-- vpager -->
        <activity
            android:name=".act.vpager.act.HuVPagerAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.vpager.act.TrineaAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.vpager.scrollviewwithviewpager.act.ScrollWithVP"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.vpager.scrollviewwithviewpager.act.ProblemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.vpager.scrollviewwithviewpager.act.Solution1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.vpager.scrollviewwithviewpager.act.Solution2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.vpager.scrollviewwithviewpager.act.Solution3Activity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>


        <!-- end vpager -->

        <!-- other -->
        <activity
            android:name=".SettingIndex"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.other.MulLanuageAct"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name=".act.other.vote.act.OtherVoteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name=".act.other.vote.act.OtherVoteBeautyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name=".act.other.vote.act.OtherVoteGroupLevelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name=".act.other.catchcat.act.CatchCat"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
        <!-- end other -->


        <!-- classic -->
        <activity
            android:name=".act.classic.act.SanMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.classic.act.BaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.classic.act.SelectCitiesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.classic.act.SelectCitiesDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.classic.act.CPAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.classic.act.FriendCircleAct"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".act.classic.rangeseek.act.RangeSeekBarAct"
            android:screenOrientation="portrait"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".act.classic.rangeseek.act.NewRangeSeekBarAct"
            android:screenOrientation="portrait"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"/>



        <!-- end classic -->

    </application>

</manifest>